// This class if for code blocks without a language
.noLanguageCode {
  pre:not([class]) {
    // Copied styles from the Prism Night Owl theme
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(1, 22, 39);
  }
}
