.loadingContainer {
  margin-top: 0.857em;
  margin-bottom: 0.857em;
  margin-left: 1.143em;
  margin-right: 1.143em;

  @screen sm {
    margin-top: 1.111em;
    margin-bottom: 1.111em;
    margin-left: 1.333em;
    margin-right: 1.333em;
  }

  @apply flex;
  @apply justify-center;
  @apply items-center;
}
