.highlight-line {
  @apply bg-gray-800;
  @apply block;
  @apply -ml-4;
  @apply -mr-4;
  @apply pr-4;
  @apply pl-3;
  @apply border-l-4;
  @apply border-solid;
  @apply border-green-600;
}

.next-highlight {
  background-color: rgb(1, 22, 39);
  @apply overflow-auto;
}

.next-highlight pre[class*="language-"] {
  @apply bg-transparent;
  @apply float-left;
  @apply min-w-full;
}

@screen sm {
  .highlight-line {
    @apply -ml-6;
    @apply -mr-6;
    @apply pl-5;
  }
}

.code-block {
  @apply rounded-md;
  @apply overflow-hidden;
  @apply my-5;
}

.prism-code {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
