@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  // Force scrollbar to be on at all times
  overflow-y: scroll;
}

// Scrollbar width
::-webkit-scrollbar {
  @apply w-2;
}

// Scrollbar color and border radius
::-webkit-scrollbar-thumb {
  @apply bg-green-600;
  @apply rounded-full;
}

body {
  * {
    @apply antialiased;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;

  & > *{
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  .pseudo-full-bleed {
    width: 100%;
    grid-column: 1 / -1;
    /* constrain the width for very-large monitors */
    @apply max-w-screen-lg;
    /* center the element */
    @apply mx-auto;
  }
}

.bar-of-progress {
  @apply z-50;
}

.horizontalScroll::-webkit-scrollbar {
  @apply h-2;
}
