@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  // Force scrollbar to be on at all times
  overflow-y: scroll;
}

// Try to use full height without "min-height: 100vh"
html,
body,
#__next {
  @apply h-full;
}

// Scrollbar width
::-webkit-scrollbar {
  @apply w-2;
}

// Scrollbar color and border radius
::-webkit-scrollbar-thumb {
  @apply bg-green-600;
  @apply rounded-full;
}

body {
  * {
    @apply antialiased;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(640px, 100%)
    1fr;

  & > * {
    grid-column: 2;
  }

  & > .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  & > .pseudo-full-bleed {
    width: 100%;
    grid-column: 1 / -1;
    /* constrain the width for very-large monitors */
    @apply max-w-screen-lg;
    /* center the element */
    @apply mx-auto;
  }

  & > .md-full-bleed {
    width: 100%;
    grid-column: 1 / -1;

    @apply max-w-screen-md;
    @apply mx-auto;

    @screen md {
      @apply rounded-lg;
    }
  }
}

.bar-of-progress {
  @apply z-50;
}

.horizontalScroll::-webkit-scrollbar {
  @apply h-2;
}
