@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply transition-colors;
  @apply duration-200;

  color: var(--color-text);
  background-color: var(--color-background);

  /* More Elegant Fix for Jumping Scrollbar Issue - https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/ */
  margin-left: calc(100vw - 100%);
}

a {
  @apply no-underline;

  color: var(--color-primary);
}

blockquote > p > a {
  @apply text-green-800;
  @apply underline;
}
