@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "./**/*.{js,ts,jsx,tsx,mdx,css}";

@theme {
  --font-display: var(--font-geist-mono);

  --color-spotify-green: #1ed760;
}

@theme inline {
  --color-accent: var(--color-green-700);
  --color-accent-dark: var(--color-green-500);
}
