div[data-rehype-pretty-code-fragment] {
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;

  @screen sm {
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
  }
}

/* Remove vertical margins in code blocks from Tailwind CSS Typography*/
div[data-rehype-pretty-code-fragment] > pre {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div[data-rehype-pretty-code-fragment] {
  @apply overflow-hidden rounded sm:rounded-md;
  background-color: rgb(15, 17, 26);
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto text-sm sm:text-base;
}

div[data-rehype-pretty-code-title] {
  @apply bg-neutral-900 px-3 py-2 text-xs font-medium leading-none text-zinc-300 sm:px-4 sm:py-3 sm:text-sm sm:leading-none;
}

div[data-rehype-pretty-code-fragment] span[data-line] {
  @apply border-l-4 border-transparent;
  padding-left: 1em;
  padding-right: 1em;

  @screen sm {
    padding-left: 1.1428571em;
    padding-right: 1.1428571em;
  }
}

div[data-rehype-pretty-code-fragment] span[data-line][data-highlighted-line] {
  @apply border-l-green-500 bg-zinc-500/10;
}
