.customProse {
  // This class if for code blocks without a language
  pre:not([class]) {
    // Copied styles from the Prism Night Owl theme
    background-color: rgb(1, 22, 39);
  }

  // Style the title of code blocks
  div[class="rehype-code-title"] {
    @apply mt-2 rounded-b-lg rounded-t-md bg-emerald-300;

    h1 {
      @apply px-4 py-2 text-base font-bold text-zinc-800;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    h1 + pre {
      @apply rounded-t-none;
      margin-top: 0 !important;
    }
  }

  // Highlighting the lines
  span[class*="highlight-line"] {
    @apply -ml-4 -mr-4 block border-l-4 border-solid border-emerald-600 bg-gray-800 pl-3 pr-4;
  }

  // Fix the width of the line highlight when there is horizontal scrolling
  pre {
    @apply overflow-x-auto;

    /**
   * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .code-highlight.
   */
    code[class*="code-highlight"] {
      @apply float-left min-w-full;
    }
  }

  // Improve contrast in comments in code blocks
  span[class="token comment"] {
    @apply text-gray-400;
  }
}
