name: Code Quality checks
on:
  pull_request:
    branches: [main]
concurrency:
  # Rerun check when the PR is updated, https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  quality:
    name: Code Quality
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [24]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm run prettier:check
      - name: Type checking
        run: pnpm run typecheck
      - name: Linting
        run: pnpm run lint
